html {
    scroll-behavior: smooth;
}

#wrapper {
    text-align: center;
    color: #fff;
    font-family: "Oleo Script", sans-serif;
    font-weight: 100px;
    font-size: 2.2em;
    text-shadow: 4px 4px 8px #000;
}

#wrapper p {
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 100px;
    font-size: 0.75em;
    text-shadow: 4px 4px 8px #000;
}

body{
  background: url(https://pcbx.us/bexy.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    padding: 16px 32px;
    text-shadow: 4px 4px 8px #000;
}

.custom-btn {
    width: 300px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn {
    background: #662549;
    border: none;
    z-index: 1;
}

.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #F39F5A;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    text-shadow: 4px 4px 8px #000;
}

.btn:hover:after {
    left: 0;
    width: 100%;
}

.btn:active {
    top: 2px;
}

footer {
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 8px #000;
    font-family:"Montserrat", sans-serif;
}